/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2013 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */

@import url(../../common/dojox/Badge.css);

/* iOS Badge */

.oneui .mblBadge {
	background: #008abf;
	border-radius: 2px;
	color: #fff;
	padding: 1px 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,.35);
}