/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2013 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */

@import url(../../common/dojox/common.css);

/* Tablet (iPad) variations of default button colors. */
.oneui.dj_tablet .mblColorDefault {
	background-color: #8b919a;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b1b5bb), to(#6a727d));
}

.oneui.dj_tablet .mblColorDefault45 {
	background-image: -webkit-gradient(linear, left top, right bottom, from(#b1b5bb), to(#6a727d));
}

.oneui.dj_tablet .mblColorDefaultSel {
	background-color: #515761;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7a7e85), to(#303845));
}

.oneui.dj_tablet .mblColorDefaultSel45 {
	background-image: -webkit-gradient(linear, left top, right bottom, from(#7a7e85), to(#303845));
}

/* Default colors for buttons when used in a Heading. */
.oneui .mblHeading .mblColorDefault {
	color: #fff;
	background-color: #2d2d2d;
	background-image:-webkit-gradient(linear,center bottom,center top,from(#121212),to(#464646));
	background-image: -webkit-linear-gradient(bottom, #121212, #464646); 
}

.oneui .mblHeading .mblColorDefault45 {
	background-image:-webkit-gradient(linear,right bottom,left top,from(#121212),to(#464646));
	background-image: -webkit-linear-gradient(bottom right, #121212, #464646); 
}

.oneui .mblHeading .mblColorDefaultSel {
	color: #fff;
	background-color: #1d1d1d;
	background-image:-webkit-gradient(linear,center bottom,center top,from(#0c0c0c),to(#2e2e2e));
	background-image: -webkit-linear-gradient(bottom, #0c0c0c, #2e2e2e); 
}

.oneui .mblHeading .mblColorDefaultSel45 {
	background-image:-webkit-gradient(linear,right bottom,left top,from(#0c0c0c),to(#2e2e2e));
	background-image: -webkit-linear-gradient(bottom right, #0c0c0c, #2e2e2e); 
}