<div id="domButtons" data-dojo-type="dojox.mobile.ScrollableView" style="padding: 20px;">
	<table id="domButtomsTable" style="border:none; margin: 2px 5px">
	
		<tr><td colspan="2" style="padding: 20px 1px 10px"><strong>Common domButtons</strong></td></tr>
		
		<tr><td><div class="mblDomButtonBlueStar"></div></td><td>mblDomButtonBlueStar</td></tr>
		<tr><td><div class="mblDomButtonDarkBlueCheck"></div></td><td>mblDomButtonDarkBlueCheck</td></tr>
		<tr><td><div class="mblDomButtonGrayArrow"></div></td><td>mblDomButtonGrayArrow</td></tr>
		<tr><td><div class="mblDomButtonGrayCross"></div></td><td>mblDomButtonGrayCross</td></tr>
		<tr><td><div class="mblDomButtonGrayCross mblDomButtonGrayCrossSelected"></div></td><td>mblDomButtonGrayCrossSelected</td></tr>
		<tr><td><div class="mblDomButtonGrayKnob"></div></td><td>mblDomButtonGrayKnob</td></tr>
		<tr><td><div class="mblDomButtonGrayMinus"></div></td><td>mblDomButtonGrayMinus</td></tr>
		<tr><td><div class="mblDomButtonGrayPlus"></div></td><td>mblDomButtonGrayPlus</td></tr>
		<tr><td><div class="mblDomButtonGrayStar"></div></td><td>mblDomButtonGrayStar</td></tr>

		<tbody style="background: #aaa;">
			<tr><td><div class="mblDomButtonWhiteArrow"></div></td><td>mblDomButtonWhiteArrow</td></tr>
			<tr><td><div class="mblDomButtonWhiteCheck"></div></td><td>mblDomButtonWhiteCheck</td></tr>
			<tr><td><div class="mblDomButtonWhiteCross"></div></td><td>mblDomButtonWhiteCross</td></tr>
			<tr><td><div class="mblDomButtonWhiteCross mblDomButtonWhiteCrossSelected"></div></td><td>mblDomButtonWhiteCrossSelected</td></tr>
			<tr><td><div class="mblDomButtonWhiteMinus"></div></td><td>mblDomButtonWhiteMinus</td></tr>
			<tr><td><div class="mblDomButtonWhitePlus"></div></td><td>mblDomButtonWhitePlus</td></tr>
		</tbody>
		
		<tr><td colspan="2" style="padding: 20px 1px 10px"><strong>Platform specific domButtons</strong></td></tr>
		
		<tr><td><div class="mblDomButtonBlackCircleCross"></div></td><td>mblDomButtonBlackCircleCross</td></tr>
		<tr><td><div class="mblDomButtonBlueCircleArrow"></div></td><td>mblDomButtonBlueCircleArrow</td></tr>
		<tr><td><div class="mblDomButtonBlueCirclePlus"></div></td><td>mblDomButtonBlueCirclePlus</td></tr>
		<tr><td><div class="mblDomButtonGreenCirclePlus"></div></td><td>mblDomButtonGreenCirclePlus</td></tr>
		<tr><td><div class="mblDomButtonRedCircleMinus"></div></td><td>mblDomButtonRedCircleMinus</td></tr>
		
	</table>
</div>	
