<div id="icons" data-dojo-type="dojox.mobile.ScrollableView" data-dojo-props='scrollDir:"vh"'>
	<!--
	<div id="iconsMain" dojoType="dojox.mobile.ScrollableView">
		<ul dojoType="dojox.mobile.IconContainer" iconBase="gallery/images/iconitems-all.png">
			<li dojoType="dojox.mobile.IconItem" iconPos="0,0,65,65" lazy="true">
				<div class="box" style="padding: 20px 30px;">
					Click/touch the close icon in the top-left corner to close this box.
				</div>
			</li>
			<li dojoType="dojox.mobile.IconItem" id="moveToIcon" iconPos="65,0,65,65" moveTo="icons-moveTo" transition="slide"></li> 
			<li dojoType="dojox.mobile.IconItem" id="urlIcon" iconPos="130,0,65,65" url="icons-url.html" transition="slide" sync="false"></li>
		</ul>
		<ul id="iconsDescList" style="position:absolute;left:80px;top:20px;list-disc-type:none;">
			<li class="mblIconArea">Opens a box with an expanding transition</li>
			<li class="mblIconArea">Moves to another view using a sliding transition</li>
			<li class="mblIconArea">Opens another web page using a sliding transition</li>
		</ul>
	</div>
	<div id="icons-moveTo" dojoType="dojox.mobile.View"> 
		<div><img src="gallery/images/sun1_320.jpg"/></div> 
	</div>
	-->
	
	<div style="padding:20px">
		<h3>Sample application icons for iOS web and native platform</h3>
		<table>
			<tr class="iconRow">
				<td>
					<div class="iconRowIcon" data-dojo-type="dojox.mobile.Icon" data-dojo-props='icon:"gallery/images/icons/icon-Small.png"' onclick="showDlg('dlgIcon')"></div>
					<div class="iconRowDesc">Icon-Small.png: 29px</div>
				</td>
			</tr>
			<tr class="iconRow">
				<td>
					<div class="iconRowIcon" data-dojo-type="dojox.mobile.Icon" data-dojo-props='icon:"gallery/images/icons/icon-Small-50.png"' onclick="showDlg('dlgIcon')"></div>
					<div class="iconRowDesc">Icon-Small-50.png: 50px</div>
				</td>
			</tr>
			<tr class="iconRow">
				<td>
					<div class="iconRowIcon" data-dojo-type="dojox.mobile.Icon" data-dojo-props='icon:"gallery/images/icons/icon-Small@2x.png"' onclick="showDlg('dlgIcon')"></div>
					<div class="iconRowDesc">Icon.png: 57px</div>
				</td>
			</tr>
			<tr class="iconRow">
				<td>
					<div class="iconRowIcon" data-dojo-type="dojox.mobile.Icon" data-dojo-props='icon:"gallery/images/icons/icon.png"' onclick="showDlg('dlgIcon')"></div>
					<div class="iconRowDesc">Icon-Small@2x: 58px</div>
				</td>
			</tr>
			<tr class="iconRow">
				<td>
					<div class="iconRowIcon" data-dojo-type="dojox.mobile.Icon" data-dojo-props='icon:"gallery/images/icons/icon-72.png"' onclick="showDlg('dlgIcon')"></div>
					<div class="iconRowDesc">Icon-72.png: 72px</div>
				</td>
			</tr>
			<tr class="iconRow">
				<td>
					<div class="iconRowIcon" data-dojo-type="dojox.mobile.Icon" data-dojo-props='icon:"gallery/images/icons/icon@2px.png"' onclick="showDlg('dlgIcon')"></div>
					<div class="iconRowDesc">Icon@2x.png: 114px</div>
				</td>
			</tr>
			<tr class="iconRow">
				<td>
					<div class="iconRowIcon" data-dojo-type="dojox.mobile.Icon" data-dojo-props='icon:"gallery/images/icons/iTunesArtwork.png"' onclick="showDlg('dlgIcon')"></div>
					<div class="iconRowDesc">iTunesArtwork.png: 512px</div>
				</td>
			</tr>
		</table>
		<br>
		
		<h3>Sample application icons for Android web and native platform</h3>
		<table>
			<tr class="iconRow">
				<td>
					<div class="iconRowIcon" data-dojo-type="dojox.mobile.Icon" data-dojo-props='icon:"gallery/images/icons/ic_launcher_database_36px.png"' onclick="showDlg('dlgIcon')"></div>
					<div class="iconRowDesc">ic_launcher_36px.png: 36px</div>
				</td>
			</tr>
			<tr class="iconRow">
				<td>
					<div class="iconRowIcon" data-dojo-type="dojox.mobile.Icon" data-dojo-props='icon:"gallery/images/icons/ic_launcher_database_48px.png"' onclick="showDlg('dlgIcon')"></div>
					<div class="iconRowDesc">ic_launcher_48px.png: 48px</div>
				</td>
			</tr>
			<tr class="iconRow">
				<td>
					<div class="iconRowIcon" data-dojo-type="dojox.mobile.Icon" data-dojo-props='icon:"gallery/images/icons/ic_launcher_database_72px.png"' onclick="showDlg('dlgIcon')"></div>
					<div class="iconRowDesc">ic_launcher_72px.png: 72px</div>
				</td>
			</tr>
			<tr class="iconRow">
				<td>
					<div class="iconRowIcon" data-dojo-type="dojox.mobile.Icon" data-dojo-props='icon:"gallery/images/icons/ic_launcher_database_96px.png"' onclick="showDlg('dlgIcon')"></div>
					<div class="iconRowDesc">ic_launcher_96px.png: 96px</div>
				</td>
			</tr>
			<tr class="iconRow">
				<td>
					<div class="iconRowIcon" data-dojo-type="dojox.mobile.Icon" data-dojo-props='icon:"gallery/images/icons/ic_launcher_database_GooglePlay.png"' onclick="showDlg('dlgIcon')"></div>
					<div class="iconRowDesc">ic_launcher_GooglePlay.png: 512px</div>
				</td>
			</tr>
		</table>
		
	</div>
	
	<div id="dlgIcon" data-dojo-type="dojox.mobile.SimpleDialog">
        <div class="mblSimpleDialogTitle">Application launched</div>
        <div class="singleActionBar">
            <button data-dojo-type="dojox.mobile.Button" class="mblSecondaryButton" onclick="hideDlg('dlgIcon')">Close</button>
		</div>
	</div>
</div>
