<div id="idxAbout" data-dojo-type="dojox/mobile/ScrollableView">
	<div id="aboutdialog" data-dojo-type="idx/mobile/About" data-dojo-props="
		name: 'Software Name with a Total<br />of 90 Character Maximum for the Length of the Product Name',
		version: 'n.n',
		build: 'nn',
		copyright: '[Year 1], [Year 2]',
		trademarks: '<i>[Use exact text from www.ibm.com/legal/copytrade.shtml ' +
					'for the special non-IBM trademarks that appear on the label. ' +
					'If you have insufficient space, consult with your Division ' +
					'Intellectual Property attorney].</i>'
	">
		<div data-dojo-type="idx/mobile/tests/_LogPane" data-dojo-props="hideWhenEmpty: true" id="id_dialoglog"></div>
		<button data-dojo-type="dojox/mobile/Button" class="mblPrimaryButton" data-dojo-props="label: 'Send Logs'" onclick="dialog_log.addMessage('\'Send Logs\' clicked);')" />
		<button data-dojo-type="dojox/mobile/Button" class="mblPrimaryButton" data-dojo-props="label: 'Reset Logs'" onclick="dialog_log.addMessage('\'Reset Logs\' clicked);')" />
	</div>
	
	<div id="aboutMainView" data-dojo-type="dojox/mobile/ScrollableView" data-dojo-props="selected: true">
	
		<div data-dojo-type="dojox/mobile/Heading" data-dojo-props="label: 'One UI About test', fixed: 'top'">
			<span class="phoneOnly" data-dojo-type="dojox/mobile/ToolBarButton" data-dojo-props="label: 'About', moveTo: 'aboutView'" style="float: right;"></span>
			<span class="tabletOnly" data-dojo-type="dojox/mobile/ToolBarButton" data-dojo-props="label: 'About'" onclick="show_about(); return false;" style="float: right;"></span>		
		</div>
		
		<p class="phoneOnly" style="margin: 10px 15px">
			This application has detected that it is running on a phone-type device. Press the
			<b>About</b> button in the heading to show the about information panel as a
			replacement view. Run this application on a tablet-type device (or emulation)
			to see the about information panel in a pop-up mode.
		</p>
	
		<p class="tabletOnly" style="margin: 10px 15px">
			This application has detected that it is running on a tablet-type device. Press the
			<b>About</b> button in the heading to show the about information panel in a
			pop-up mode. Run this application on a phone-type device (or emulation)
			to see the about information panel as a replacement view.
		</p>
	
		
	</div>
	
	<div id="aboutView" data-dojo-type="dojox/mobile/ScrollableView" data-dojo-props="selected:false">
	
		<div data-dojo-type="dojox/mobile/Heading" data-dojo-props="label: 'About', back: 'Back', moveTo: 'aboutMainView', fixed: 'top'">
		</div>
		
		<div data-dojo-type="idx/mobile/AboutPane" data-dojo-props="
			name: 'Software Name with a Total<br />of 90 Character Maximum for the Length of the Product Name',
			version: 'n.n',
			build: 'nn',
			copyright: '[Year 1], [Year 2]',
			trademarks: '<i>[Use exact text from www.ibm.com/legal/copytrade.shtml ' +
						'for the special non-IBM trademarks that appear on the label. ' +
						'If you have insufficient space, consult with your Division ' +
						'Intellectual Property attorney].</i>'
		">
			<div data-dojo-type="idx/mobile/tests/_LogPane" data-dojo-props="hideWhenEmpty: true" id="id_panelog"></div>
			<button data-dojo-type="dojox/mobile/Button" class="mblPrimaryButton" data-dojo-props="label: 'Send Logs'" onclick="pane_log.addMessage('\'Send Logs\' clicked);')" />
			<button data-dojo-type="dojox/mobile/Button" class="mblPrimaryButton" data-dojo-props="label: 'Reset Logs'" onclick="pane_log.addMessage('\'Reset Logs\' clicked);')" />
		</div>
	</div>
</div>