/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */

/* Common style definitions for the One UI mobile test cases. */

/*
 * Styles for CSS classes that are used to hide UI elements that are only
 * visible in certain configurations (e.g. only on tablets or only on
 * Android devices).
 */
html.dj_tablet .phoneOnly {
	display: none;
}
html:not(.dj_tablet) .tabletOnly {
	display: none;
}
html:not(.oneui_android_theme) .androidOnly {
	display: none;
}
html:not(.oneui_ios_theme) .iosOnly {
	display: none;
}

/* 
 * Styles for testcase features.
 */
.dummyViewContent,
.information-emulation,
.mblIdxLogPane {
	margin: 15px; 
	border: 2px solid gray; 
	padding: 15px; 
	background: white; 
	color: black; 
	font-size: 20px
}

.information-emulation {
	font-size: 12px;
	color: darkred;
}

.mblIdxLogPane {
	padding: 0;
	font-size: 11px;
	color: #008;
}
.mblIdxLogPlaceholder {
	padding: 0 15px;
	color: #CCF;
	font-style: italic;
}

.mblIdxLogItem {
	padding: 0 15px;
	border-top: 1px solid #ccc;
}

.mblIdxLogItem:first-child {
	border-top: none;
}

.mblIdxLogTime {
	color: #ccc;
}