/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2013 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */

/* dojox.mobile.ComboBox */
.oneui .mblComboBoxMenu div{
	width:100%;
}
/* Reset common styles. */
.oneui .mblComboBoxMenu, 
.oneui .mblComboBoxMenuPopup, 
.oneui .mblComboBoxMenuPopup * {
	margin: 0;
	border: none;
	padding: 0;
	color: inherit;
	background-color: transparent;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	text-shadow: inherit;
	line-height: inherit;
	text-align: inherit;
	box-shadow: none;
}



.oneui .mblReset {
	margin:0;
	padding:0;
	border:0;
	color:inherit;
	font:inherit;
	line-height:normal;
}

.oneui .mblComboBoxMenu {
	position:relative;
	overflow:hidden;
	overflow-y:hidden!important;
	padding:2px;
	border:1px solid #aaa;
	border-radius:0;
	background-color:#fff;
	color:#222;
}

.oneui .mblComboBoxMenuItem {
	padding:.6em;
	border-width:1px 0;
	border-style:solid;
	border-color:#fff;
	border-bottom-color:#ddd;
	color:inherit;
	text-align:left;
	white-space:nowrap;
}

.oneui .mblComboBoxMenuItemSelected {
	background:#cce8f2;
}

.oneui .mblComboBoxMenuPreviousButton,
.oneui .mblComboBoxMenuNextButton {
	overflow:hidden;
	font-style:italic;
}