/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */

@import url(transitions/coverv.css);
@import url(transitions/revealv.css);

/* dojox.mobile.Overlay */
.mblOverlay {
	position:fixed;
	bottom:0;
	left:0;
	z-index:2000;
	margin:0;
	width:100%;
	background-color:#c0c0c0;
	background-image:none;
	text-align:-webkit-center;
	box-shadow: inset 0 -1px 8px rgba(0,0,0,.35);
	border-top: 1px solid #bbb;
}

.mblOverlay.idxEdgeLeft {
	height: 100%;
	width: auto;
	top: 0px;
	overflow-x: hidden;
	text-align: left;
	text-align: -webkit-left;
	box-shadow: inset -1px 0px 8px rgba(0,0,0,.35);
	border-top: 0px none transparent;
	border-right: 1px solid #bbb;
}

.mblOverlay.idxEdgeRight {
	height: 100%;
	width: auto;
	left: auto;
	right: 0;
	overflow-x: hidden;
	text-align: left;
	text-align: -webkit-left;
	box-shadow: inset 1px 0px 8px rgba(0,0,0,.35);
	border-top: 0px none transparent;
	border-left: 1px solid #bbb;
}

.mblOverlayHidden *,.mblOverlayHidden {
	visibility:hidden!important;
}

.mblOverlay .mblHeading,
.dj_tablet .mblOverlay .mblHeading {
	height:42px;
	background-color: #2d2d2d;
	background-image: -webkit-gradient(linear, center bottom, center top, from(#0075a3), to(#6b6b6b), color-stop(0.05, #008abf), color-stop(0.06, #1a96c6), color-stop(0.1, #00090d), color-stop(0.12, #131313), color-stop(0.9, #444444), color-stop(0.95, #6b6b6b));
	background-image: -webkit-linear-gradient(bottom, #0075a3, #0075a3 1px, #008abf 1px, #008abf 3px, #1a96c6 3px, #1a96c6 4px, #00090d 4px, #00090d 5px, #131313 5px, #444444 47px, #6b6b6b 47px, #6b6b6b 48px); 

	box-shadow:0 1px 0px rgba(255,255,255,.65);
	border-bottom: 1px solid #aaa;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	color:#222;
	text-shadow: 0 1px 0 white;
}

.mblOverlay .mblHeading:after {
	display:none;
}

.mblOverlay .mblHeading .mblToolBarButton {
	border:1px solid transparent;
	border-bottom-color: #aaa;
	background-color: #dbdbdb;
	background-image:-webkit-gradient(linear,center top,center bottom,from(#f4f4f4),to(#dbdbdb));
	background-image:-webkit-linear-gradient(top,#f4f4f4 0%,#dbdbdb 100%);
	box-shadow:0 1px 0px rgba(255,255,255,.65);
	color:#222;
	text-shadow:0 1px 0 #fff;
	font-weight:700;
}