/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2013 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */

/* dojox.mobile.RadioButton */

/* Reset common styles. */
.oneui .mblRadioButton {
	margin: 0;
	border: none;
	padding: 0;
	color: inherit;
	background-color: transparent;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	text-shadow: inherit;
	line-height: inherit;
	text-align: inherit;
	box-shadow: none;
}

.oneui .mblRadioButton {
	position:relative;
	margin:-.5em 5px .2em 8px;
	padding: 0;
	width:1.2em;
	height:1.2em;
	border-width:1px;
	border-style:outset;
	border-style:solid;
	border-color:#888;
	border-radius:1em;
	background-image:-webkit-gradient(linear,center top,center bottom,from(#d6d6d6),to(#fbfbfb));
	background-image:-webkit-linear-gradient(top,#d6d6d6 0%,#fbfbfb 100%);
	font:inherit;
	cursor:pointer;
	-webkit-transform:translatey(0.45em);
	-webkit-appearance:none;
	-webkit-tap-highlight-color:rgba(255,255,255,0);
}

.oneui .mblRadioButtonChecked,
.oneui .mblRadioButton:checked {
	border-color:#bbb;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#d4d4d4),to(#fdfdfd));
}

.oneui .mblRadioButtonChecked::after,
.oneui .mblRadioButton:checked::after {
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-.38em;
	margin-left:-.38em;
	width:.75em;
	height:.75em;
	border-radius:1em;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#4a4a4a),to(#131313));
	content:"";
}

.oneui .mblRadioButtonChecked.mblRadioButtonSelected,
.oneui .mblRadioButton:checked.mblRadioButtonSelected {
}

.oneui .mblRadioButtonChecked.mblRadioButtonSelected::after,
.oneui .mblRadioButton:checked.mblRadioButtonSelected::after {
	border-color:#fff;
}