/*
 * Licensed Materials - Property of IBM
 * (C) Copyright IBM Corp. 2010, 2012 All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 */

@import url(transitions/slide.css);

@import url(transitions/flip.css);

@import url(transitions/fade.css);

/* dojox.mobile.View */

/* Reset common styles. */
.oneui .mblView,
.oneui .mblScrollBarWrapper,
.oneui .mblScrollBarWrapper * {
	margin: 0;
	border: none;
	padding: 0;
	color: inherit;
	background-color: transparent;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	text-shadow: inherit;
	line-height: inherit;
	text-align: inherit;
	box-shadow: none;
}

.oneui .mblView {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  color: black;
}
.oneui .mblView.mblIn {
  position: absolute;
}
.oneui .mblFixedHeaderBar {
  z-index: 1;
}
.oneui .mblFixedBottomBar {
  position: absolute !important;
  width: 100%;
  z-index: 1;
}